.create-contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F2F2F2;

  .error {
    line-height: 500px;
  }

  &-wrapper {
    margin: 20px auto 0 auto;
    width: 300px;
    position: relative;
  }

  .input-field label {
    color: #4F4A41;
  }

  .input-field input[type=text]:focus + label {
    color: #4F4A41;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid #4F4A41;
    box-shadow: 0 1px 0 0 #4F4A41;
  }

  .input-field input[type=email]:focus + label {
    color: #4F4A41;
  }

  .input-field input[type=email]:focus {
    border-bottom: 1px solid #4F4A41;
    box-shadow: 0 1px 0 0 #4F4A41;
  }

  .input-field input[type=number]:focus + label {
    color: #4F4A41;
  }

  .input-field input[type=number]:focus {
    border-bottom: 1px solid #4F4A41;
    box-shadow: 0 1px 0 0 #4F4A41;
  }

  &-btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &-btn {
    background-color: #4F4A41;
    color: #FBEEC1;
    transition: all 0.6s;
    width: 150px;
  }

  &-btn:hover {
    background-color: #FBEEC1;
    color: #4F4A41;
    transition: all 0.6s;
  }

  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #4F4A41;
  }

}