.main-content {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-title {
    text-align: center;
    color: #4F4A41;
    animation: fadeIn 2s;
  }

  &-btn {
    background-color: #4F4A41;
    color: #FBEEC1;
    transition: all 0.6s;
    width: 95px;
  }

  &-btn:hover {
    background-color: #FBEEC1;
    color: #4F4A41;
    transition: all 0.6s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}