.header {
  display: flex;
  width: 100%;
  background: linear-gradient(to left,#4F4A41, #80645d);
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  height: 60px;

  &-btn {
    background-color: #FBEEC1;
    color: #4F4A41;
    margin-right: 12px;
    transition: all 0.6s;
    width: 95px;
  }

  &-btn:hover {
    background-color: #86794F;
    color: #FBEEC1;
    transition: all 0.6s;
  }

}